<div class="col-md-6 col-6 paddding feature-news animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
    <div class="fh5co_suceefh5co_height_2">
        <img src="{{fields.field_news_image.content}}" alt="{{fields.field_news_image_1.content}}">
        <div class="fh5co_suceefh5co_height_position_absolute"></div>
        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
        <div class=""><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{fields.created.content}}</div>
        <div class=""><a href="{{fields.view_node.content}}" class="fh5co_good_font_2"> {{fields.title.content}} </a></div>
        </div>
    </div>
</div>
