a, a:hover {
    color: #f5bc04;
}
.fh5co_header_bg {
    background: #222;
    color: #fff;
}
.color_fff {
    color: #fff !important;
}
.treding_btn {
    background: #f5bc04;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    padding: 15px 40px;
}
.treding_btn:hover, .treding_btn:focus {
    background: #f5bc04;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    padding: 15px 40px;
}
.fh5co_trading_posotion_relative {
    position: relative;
}
.fh5co_treding_position_absolute {
    -webkit-clip-path: polygon(0 1%,  100% 0,  0 100%,  0% 100%);
    -moz-clip-path: polygon(0 1%,  100% 0,  0 100%,  0% 100%);
    -ms-clip-path: polygon(0 1%,  100% 0,  0 100%,  0% 100%);
    clip-path: polygon(0 1%,  100% 0,  0 100%,  0% 100%);
    height: 20px;
    width: 20px;
    background: #f5bc04;
    position: absolute;
    left: 9px;
}
.fh5co_mediya_right {
    text-align: right;
}
.fh5co_display_table {
    height: 40px;
    width: 40px;
    display: table;
    color: #777;
    font-size: 18px;
    border: 1px solid #fff !important;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transition: 1s;
    margin: 0 10px;
    color: #777 !important;
}
.fh5co_display_table:hover, .fh5co_display_table:focus {
    display: table;
    color: #777;
    border: 1px solid #f5bc04 !important;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%}
.fh5co_verticle_middle {
    vertical-align: middle;
    display: table-cell;
}
.fh5co_country_width {
    width: 40px;
    margin: 0 10px;
    padding-bottom: 25px;
}
.fh5co_text_select_option {
    margin: 0 10px;
    position: relative;
    top: -10px;
}
.navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
    color: #fff !important;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 20px !important;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    background: #f5bc04 !important;
    -webkit-clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
    -moz-clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
    -ms-clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
    clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
}
.navbar-light .navbar-nav .nav-link {
    color: #222 !important;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 20px !important;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    position: relative !important;
    -webkit-clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
    -moz-clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
    -ms-clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
    clip-path: polygon(100% 0,  100% 85%,  14% 85%,  0 100%,  0% 60%,  0 0);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background: #f5bc04 !important;
    color: #fff !important;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 20px;
    position: relative;
}
.fh5co_padding_menu {
    padding: 20px 0;
}
.mobile_logo_width {
    display: none;
}
.fh5co_padd_mediya {
    padding-top: 10px;
}
.fh5co_suceefh5co_height {
    height: 550px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.fh5co_suceefh5co_height>img {
    height: 560px;
    width: 100%}
.paddding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fh5co_suceefh5co_height_position_absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  transparent 0%,  transparent 1%,  rgba(0, 0, 0, 0.78) 100%);
    background: -webkit-linear-gradient(top,  transparent 0%,  transparent 1%,  rgba(0, 0, 0, 0.78) 100%);
    background: linear-gradient(to bottom,  transparent 0%,  transparent 1%,  rgba(0, 0, 0, 0.78) 100%);
    z-index: 5;
    top: 0;
}
.fh5co_suceefh5co_height_position_absolute_font {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 7;
    top: 75%;
    left: 5%;
    padding: 0 10px;
}
.fh5co_good_font {
    color: #fff;
    font-size: 26px;
    word-wrap: break-word;
}
.fh5co_good_font:hover, .fh5co_good_font:focus {
    color: #fff;
    word-wrap: break-word;
    text-decoration: none;
}
.fh5co_suceefh5co_height_2 {
    height: 275px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.fh5co_suceefh5co_height_2>img {
    height: 300px;
    width: 100%}
.fh5co_good_font_2 {
    font-size: 19px;
    color: #fff;
    word-wrap: break-word;
    text-decoration: none;
}
.fh5co_good_font_2:hover, .fh5co_good_font_2:focus {
    color: #fff;
    word-wrap: break-word;
    text-decoration: none;
}
.fh5co_suceefh5co_height_position_absolute_font_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 7;
    top: 65%;
    left: 0%;
    padding: 0 15px;
}
.fh5co_heading {
    font-size: 20px;
    color: #424040;
}
.fh5co_heading_border_bottom {
    border-bottom: 1px solid #777;
}
.fh5co_latest_trading_img {
    height: 326px;
    overflow: hidden;
}
.fh5co_latest_trading_img>img {
    height: 340px;
    min-width: 100%}
.fh5co_img_special_relative {
    position: relative;
    right: 40%}
.fh5co_latest_trading_img_position_relative {
    position: relative;
    overflow: hidden;
    z-index: 5;
    cursor: pointer;
}
.fh5co_latest_trading_img_position_absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: -moz-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,  rgba(0, 0, 0, 0.83) 100%);
    background: -webkit-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,  rgba(0, 0, 0, 0.83) 100%);
    background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%,  rgba(0, 0, 0, 0.83) 100%);
    z-index: 7;
}
.fh5co_latest_trading_img_position_absolute_1 {
    position: absolute;
    width: 100%;
    z-index: 9;
    padding: 10px;
    bottom: 0;
}
.fh5co_latest_trading_date_and_name_color {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}
.fh5co_latest_trading_img_position_relative:hover {
    -webkit-animation: swing1 1s ease;
    animation: swing1 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes swing1 {
    15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
}
50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
}
100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
}@keyframes swing1 {
    15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
}
50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
}
100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
}.fh5co_news_img {
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    top: 0;
    -webkit-box-shadow: inset 0 2px 3px 1px;
    -moz-box-shadow: inset 0 2px 3px 1px;
    -o-box-shadow: inset 0 2px 3px 1px;
    box-shadow: inset 0 2px 3px 1px;
    -moz-transition: all all 0.5s ease;
    -o-transition: all all 0.5s ease;
    -webkit-transition: all all 0.5s ease;
    -ms-transition: all all 0.5s ease;
    transition: all all 0.5s ease;
}
.fh5co_news_img>img {
    height: 260px;
    min-width: 100%}
.c_b {
    color: #424040;
}
.c_g {
    color: #777;
}
.c_m {
    color: #f5bc04;
}
.fh5co_small_post_heading {
    font-size: 17px;
    color: #424040;
    -moz-transition: all all 0.5s ease;
    -o-transition: all all 0.5s ease;
    -webkit-transition: all all 0.5s ease;
    -ms-transition: all all 0.5s ease;
    transition: all all 0.5s ease;
}
.fh5co_small_post_heading:hover {
    color: #777;
    text-decoration: none;
}
.fh5co_hover_news_img:hover>.fh5co_news_img {
    top: -7px;
    -webkit-box-shadow: inset 0 2px 3px 1px;
    -moz-box-shadow: inset 0 2px 3px 1px;
    -o-box-shadow: inset 0 2px 3px 1px;
    box-shadow: inset 0 2px 3px 1px;
}
.fh5co_video_news_bg {
    background-image: url(../images/video-news-bg.jpg);
    background-size: cover;
}
.fh5co_small_post_heading_1 {
    color: #fff;
}
.fh5co_hover_news_img_video_tag_position_relative {
    position: relative;
    overflow: hidden;
    z-index: 18;
}
.fh5co_hover_news_img_video_tag_position_absolute {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}
.fh5co_hover_news_img_video_tag_position_absolute>img {
    height: 130%;
    min-width: 100%}
.fh5co_hover_news_img_video_tag_position_absolute_1 {
    position: absolute;
    z-index: 22;
    cursor: pointer;
    top: 33%;
    right: 40%;
    opacity: 0.7;
    -moz-transition: all all 0.5s ease;
    -o-transition: all all 0.5s ease;
    -webkit-transition: all all 0.5s ease;
    -ms-transition: all all 0.5s ease;
    transition: all all 0.5s ease;
}
.fh5co_hover_news_img_video_tag_position_absolute_1:hover {
    opacity: 1;
}
.fh5co_hover_news_img_video_tag_position_absolute_1_play_button {
    height: 60px;
    width: 60px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: table;
    text-align: center;
    position: relative;
    z-index: 5;
}
.fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1 {
    position: relative;
    display: inline-block;
}
.fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1:before {
    position: absolute;
    content: '';
    height: 120%;
    width: 120%;
    background-color: #f5bc04;
    z-index: -1;
    top: -10%;
    right: -10%;
    opacity: 0.5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%}
.fh5co_hover_news_img_video_tag_position_absolute_1_play_button>span {
    display: table-cell;
    vertical-align: middle;
    line-height: 0px !important;
}
.fh5co_magna {
    font-size: 16px;
    color: #222 !important;
    font-weight: 800;
}
.fh5co_mini_time {
    font-size: 14px;
    color: #222;
    display: inline-block;
}
.fh5co_consectetur {
    font-size: 14px;
    color: #777;
}
.fh5co_gaming_topikk {
    margin: 0 !important;
    padding-left: 12px;
}
.fh5co_gaming_topikk>li {
    color: #777;
    padding: 5px 0;
}
.fh5co_tagg {
    background: #f1f1f1;
    padding: 10px 15px;
    color: #222;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.fh5co_tagg:hover, .fh5co_tagg:focus {
    background: #f5bc04;
    color: #fff;
    text-decoration: none;
}
.fh5co_most_trading {
    height: 60px;
    width: 100%}
.most_fh5co_treding_font_123 {
    font-size: 12px;
    color: #777;
}
.btn_mange_pagging {
    background: #f1f1f1;
    padding: 12px 20px;
    color: #222 !important;
    font-weight: 800;
    margin: 0 10px;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.btn_pagging {
    background: #f1f1f1 !important;
    color: #222;
    padding: 12px 20px !important;
    font-weight: 800;
    margin: 0 10px;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.btn_mange_pagging:hover, .btn_mange_pagging:focus {
    background: #222;
    color: #fff !important;
    font-weight: 800;
}
.btn_pagging:hover, .btn_pagging:focus {
    background: #222 !important;
    color: #fff;
}
.fh5co_footer_bg {
    background: #222;
    color: #fff;
    -webkit-clip-path: polygon(0 17%,  100% 0,  100% 100%,  0% 100%);
    clip-path: polygon(0 17%,  100% 0,  100% 100%,  0% 100%);
}
.footer_main_title {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
}
.footer_sub_about {
    color: #C9C8C8;
    font-size: 14px;
}
.fh5co_display_table_footer {
    height: 40px;
    width: 40px;
    display: table;
    color: #777;
    font-size: 18px;
    border: 1px solid #222 !important;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin-right: 10px;
    color: #777 !important;
}
.fh5co_display_table_footer:hover, .fh5co_display_table_footer:focus {
    display: table;
    color: #777;
    border: 1px solid #f5bc04 !important;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%}
.footer_menu {
    list-style: none;
    padding: 0;
}
.footer_menu li>a {
    color: #fff !important;
    padding: 8px 0 !important;
    display: -webkit-box;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.footer_menu li>a:hover, .footer_menu li>a:focus {
    color: #f5bc04 !important;
    padding: 8px 0 !important;
    display: -webkit-box;
    margin-left: 5px;
}
.footer_post {
    color: #fff;
    display: -webkit-box;
}
.footer_makes_sub_font {
    font-size: 12px;
    color: #777;
}
.position_footer_relative {
    position: relative;
}
.footer_position_absolute {
    position: absolute;
    display: none;
    top: 60px;
    left: -5px;
}
.footer_img_post_6 {
    height: 50px;
    width: 94px;
    overflow: hidden;
    margin: 10px 10px;
    display: inline-block;
}
.footer_img_post_6>img {
    width: 94px;
    height: 50px;
}
.fh5co_footer_text_box {
    background: none !important;
    border-bottom: 2px solid #fff !important;
    border-top: 0px solid #fff !important;
    border-top: 0px solid #fff !important;
    border-top: 0px solid #fff !important;
    box-shadow: none !important;
    color: #fff !important;
}
.fh5co_footer_text_box:focus {
    border-color: #f5bc04;
}
.fh5co_footer_subcribe {
    background: #f5bc04 !important;
    border-bottom: 2px solid #fff !important;
    border-top: 0px solid #fff !important;
    border-top: 0px solid #fff !important;
    border-top: 0px solid #fff !important;
    box-shadow: none !important;
    color: #fff !important;
    display: -webkit-box !important;
}
.fh5co_footer_right_reserved {
    background: #000 !important;
    color: #fff !important;
}
.footer_last_part_menu {
    color: #fff !important;
    padding: 0 10px;
}
.spdp_right {
    text-align: right;
}
.fh5co_contact_form input:focus, .fh5co_contact_form textarea:focus {
    border-color: #f5bc04;
}
.contact_us_bg_img {
    background: url(../images/photo-1449157291145-7efd050a4d0e-578x362.jpg);
    padding: 100px 0;
    background-size: cover;
}
.fh5co_con {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.fh5co_con:hover, .fh5co_con:focus {
    text-decoration: none;
    font-size: 24px;
    color: #f5bc04;
    font-weight: 800;
}
.fh5co_con_123 {
    border: 1px solid #fff !important;
    color: #fff !important;
    font-size: 24px !important;
    padding: 10px 15px;
    margin: 0 20px;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.fh5co_con_123:hover, .fh5co_con_123:focus {
    border: 1px solid #fff !important;
    color: #fff !important;
    font-size: 24px !important;
    background: #f5bc04;
    padding: 10px 15px;
    margin: 0 20px;
}
.fh5co_heading {
    font-size: 24px;
    color: #222;
}
.fh5co_contact_us_no_icon_div {
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #222;
    display: table;
    text-align: center;
    font-size: 20px;
    color: #222;
    -moz-transition: all all 0.5s ease;
    -o-transition: all all 0.5s ease;
    -webkit-transition: all all 0.5s ease;
    -ms-transition: all all 0.5s ease;
    transition: all all 0.5s ease;
}
.fh5co_contact_us_no_icon_div>span {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    cursor: default;
}
.fh5co_contact_us_no_text {
    font-size: 16px;
}
.fh5co_contact_us_no_icon_difh5co_hover:hover>.fh5co_contact_us_no_icon_difh5co_hover_1>.fh5co_contact_us_no_icon_div {
    color: #f5bc04 !important;
    cursor: pointer;
    border: 2px solid #f5bc04 !important;
}
.fh5co_contact_us_no_icon_difh5co_hover_2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fh5co_contact_us_form_bg {
    background-size: cover;
    padding-top: 5%}
.fh5co_contact_us_text_box_form_bg {
    background-color: #fff;
    padding: 4% 0;
}
.fh5co_contact_us_text_box {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    border: 1px solid #777 !important;
    font-size: 14px !important;
}
.fh5co_contact_us_text_area {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    border: 1px solid #777 !important;
    font-size: 14px !important;
    height: 100px;
    resize: none;
}
.fh5co_blue_button {
    background-color: #7ab8d4;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #fff;
    font-family: 'Baloo Paaji';
    cursor: pointer;
}
.fh5co_blue_button:hover {
    background-color: #454545;
    color: #fff;
}
.fh5co_contact_us_team_img {
    height: 350px;
    overflow: hidden;
}
.s_textbox_name {
    background: #c7c7c7 !important;
    border: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
}
.fh5co_fh5co_bg_contcat {
    background: #f1f1f1;
}
.fh5co_p_font_size {
    font-size: 14px;
}
.fh5co_contact_text_box {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    font-size: 15px !important;
    height: 45px !important;
    letter-spacing: 1px !important;
}
.fh5co_contacts_message {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    height: 150px !important;
    font-size: 15px;
    box-shadow: none !important;
     resize: none;
    padding-top: 20px !important;
    letter-spacing: 1px !important;
}
.contact_btn {
    background: #f5bc04 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #fff !important;
    padding: 10px 50px !important;
    font-size:  16px !important;
    border-color:  transparent !important;
}
.contact_btn:hover, .contact_btn:focus {
    background: none !important;
    border: 1px solid #f5bc04 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #f5bc04 !important;
    padding: 10px 50px !important;
}
.map_sss {
    height: 350px !important;
    width: 100% !important;
    border: 0 !important;
    frameborder: 0 !important;
}
.contact_margin_svnit {
    margin: 20px 0 !important;
}
.goog-te-combo {
    padding: 10px 5px !important;
}
.goog-logo-link {
    display: none !important;
}
.fh5co_language_chnage {
    position: relative;
    top: 15px;
}
.dd_position_relative {
    position: relative;
}
.dd_box {
    height: 20px;
    width: 150px;
    background: #fff;
    position: absolute;
}
.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.gototop.active {
    opacity: 1;
    visibility: visible;
}
.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
}
.js .animate-box {
    opacity: 0;
}
#fh5co-title-box {
    width: 38.2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.single #fh5co-title-box {
    position: relative;
    height: 700px;
    width: 100%}
#fh5co-title-box .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}
#fh5co-title-box .page-title {
    z-index: 12;
    position: absolute;
    bottom: 0;
    padding: 30px;
}
.single #fh5co-title-box .page-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#fh5co-title-box .page-title h2 {
    color: white;
    font-weight: 300;
}
.single #fh5co-title-box .page-title h2 {
    font-size: 72px;
}
#fh5co-title-box .page-title>span {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .05em;
    margin-bottom: 10px;
}
#fh5co-title-box .page-title img {
    margin-bottom: 30px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%}
#fh5co-single-content {
    z-index: 999;
    background: white;
}
#fh5co-single-content p, #fh5co-single-content ul li {
    font-size: 1.05rem;
}
img{
	object-fit:cover;
   -o-object-fit:cover;
}
.fh5co_suceefh5co_height_2 img,
.fh5co_suceefh5co_height img{
	transition: transform .2s;
}

.fh5co_suceefh5co_height_2:hover img,
.fh5co_suceefh5co_height:hover img {
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(.2); /* Safari 3-8 */
    transform: scale(1.2);
    overflow: hidden;
}


/* strat user login form*/
.path-user .breadcrumb{
    display: block;
    background-color: transparent; 
}
.path-user h2::after{
    background-color: transparent;
}
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5bd38;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #f5bc04;
}
.btn-primary{
    background-color: #f5bc04;
    border-color: #f5bc04;
}
.login-button input {
  padding: 5px 20px 5px 20px;
  background: #3e82ff;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #f5bd38;
  color: #f5bd38;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
  padding: 5px 20px 5px 20px;
  background: #4a9a4f;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

}
/* end user login form */


/* page not found */
#not-found-section {
    padding: 100px 0px 100px;
}

.not-found-body {
    max-width: 70%;
    margin: auto;
}

.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}

.not-title {
    border: 2px solid #f5bc04;
    padding: 10px 50px 30px 50px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.not-title h1 {
    font-size: 125px;
    margin: 0px;
    color: #f5bc04;
}

.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #f5bc04;
}

#not-found-section a.btn.btn-custom{
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    background-color: #f5bc04;
    border-color: #f5bc04 !important;
    color: #fff !important;
    transition: 0.7s;
}
#not-found-section a.btn.btn-custom:hover{
    background-color: #fff;
    border-color: #f5bc04 !important;
    color: #333 !important;
    transition: 0.7s;
}

@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #3e82ff !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #3e82ff !important;
}
.not-title {
    border: 2px solid #3e82ff !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #3e82ff !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #3e82ff !important;
}
.not-title {
    border: 2px solid #3e82ff !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}


@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #3e82ff !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #3e82ff !important;
}
.not-title {
    border: 2px solid #3e82ff !important;
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* end page not found */
/*# sourceMappingURL=style_1.css.map */

 /* custom css */
/*------------ custom css ------------*/

.fh5co_fh5co_bg_contcat span>a{
 	color: #95918d !important;
 }
 .fh5co_fh5co_bg_contcat span>a:hover{
 	color: #f5bc04 !important;
 	text-decoration: none;	
 }

@media (min-width: 768px) and (max-width: 992px) {


/* .navbar-light .navbar-toggler{
		position: absolute;
        font-size: 20px;
	}
.navbar-collapse.collapse.in{
		display: block !important;
	}
	.navbar-collapse.collapse{
		display: none !important;
	} */
.region.region-primary-menu {
    padding-top: 50px;
}
.navbar-nav{
	width: 100%;
}
	.fh5co_padd_mediya{
		padding-bottom: 10px;
	}
	/* .collapse.show {
    display: block;
    z-index: 900;
    background-color: #f7f7f7;
    width: 100%;
} */
.fh5co_padd_mediya {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.form-control{
	border: 1px solid transparent;
}
.fh5co_footer_subcribe{
	border-bottom: 2px solid #f5bc04 !important;
}
/* theme css */
.spdp_right {
    padding-top: 50px !important;
}
}
@media (min-width: 767px) and (max-width: 1199px) {
	
.fh5co_suceefh5co_height_position_absolute_font_2{
	top: 45%;
}
.fh5co_suceefh5co_height_position_absolute_font{
	top: 55%;
}
.international_news_res_body{
    max-width: 100% !important;
    flex: 0 0 100%;
    padding-top: 20px;
    padding-right: 20px;
}
.international_news_res{
	max-width: 100% !important;
    flex: 0 0 100%;
}
.form-control{
	 border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: none !important;
}
.fh5co_footer_subcribe{
	border-bottom: 2px solid #f5bc04 !important;
}
.col-md-3.animate-box.fadeInRight.animated-fast {
    position: relative;
}
.paddding{
	max-width: 100%;
    flex: 0 0 100%;
    left: 15px;
    top: 5px;
}
.feature-news{
	max-width: 50%;
    flex: 0 0 50%;
    left: 0px;
    top: 0px;
}
#feature.paddding{
    left: 0px;
    top: 0px;
}
.align-self-center {
    max-width: 100%;
    flex: 0 0 100%;
}
.most_fh5co_treding_font {
    padding-right: 20px;
}
/* theme css */
.most-popular-space {
    height: 160px !important;
}
.trending-res{
	position: relative;
    left: -14px !important;
}
.fh5co_logo_width {
    position: relative;
    top: 10px;
    z-index: 30;
}
.col-12.col-md-9.align-self-center.fh5co_mediya_right {
    position: relative;
    bottom: 50px;
}
.header-res{
	height: 100px;
}
}
@media (min-width: 320px) and (max-width: 480px){

div#edit-actions {
    position: relative !important;
    right: 2px !important;
}
.single #fh5co-title-box .page-title h2 {
    font-size: 50px;
}
/* theme css */
.region-footer-subscribe #basic-addon12 {
    width: 15% !important;
}
.col-12.col-md-9.align-self-center.fh5co_mediya_right {
    position: relative;
    left: 14px;
    bottom: 20px;
}
.fh5co_display_table{
	font-size: 17px !important;
	margin:0px !important;
}
}
@media (min-width: 481px) and (max-width: 575px){
	
.fh5co_footer_subcribe{
	border-bottom: 2px solid #f5bc04 !important;
}
}
@media (min-width: 1200px) {
.fh5co_footer_subcribe{
	border-bottom: 2px solid #f5bc04 !important;
}
.navbar img.fh5co_logo_width{
	display: none;
}
}
@media (min-width: 575px) and (max-width: 768px){
  .footer_logo{
  	position: relative;
  	top: 10px;
  }
}	
@media (min-width: 320px) and (max-width: 575px){
.btn_mange_pagging{
	line-height: 50px;
}
.fh5co_footer_bg{
	clip-path: none;
}
.spdp_right {
    text-align: left;
}
/* theme css */
.fh5co_img_special_relative {
     position: unset; 
     right: 0; 
}
.region-top-banner #fh5co-title-box .page-title h2 {
    font-size: 35px !important;
}
}	
@media (min-width: 320px) and (max-width: 767px){
.fh5co_suceefh5co_height_position_absolute_font_2{
	top: 35%;
}
/* theme css */
/* .fh5co_padd_mediya {
    z-index: 0 !important;
} */
.fh5co_suceefh5co_height_position_absolute_font{
    top: 60%;
    left: 2%;
}
.fh5co_footer_bg{
	clip-path: none;
}
.spdp_right {
    text-align: left;
}
.region.region-primary-menu {
    padding-top: 50px;
}
button.navbar-toggler.navbar-toggler-right.mt-3 {
    font-size: 20px;
}
.header-res{
	height: 140px;
}
}	
@media (min-width: 480px) and (max-width: 767px){
.color_fff{
	line-height: 60px;
}
/* theme css */
.region-footer-subscribe #basic-addon12 {
    width: 23% !important;
    bottom: 4px !important;
    left: 0px !important;
}
.region-footer-subscribe .fh5co_footer_subcribe {
    bottom: 4px !important;
    left: -10px !important;
}
.fh5co_mediya_right {
    position: relative;
    left: 13px;
    bottom: 70px;
}
.fh5co_logo_width {
    top: -7px;
    position: relative;
}
}


/* theme custom css */
img{
	object-fit:cover;
    -o-object-fit:cover;
}    
.feature-right{
	padding: 0px;
}
.fh5co_tags_all {
    position: relative;
    top: 30px;
}
h2#block-tags-menu {
    font-size: 24px;
    color: #222;
    position: relative;
    bottom: 36px;
}

nav#block-tags {
    border-top: 1px solid #777;
    position: relative;
    top: 26px;
}
.region.region-most-popular {
    padding-top: 60px;
}
.most-popular-space{
	padding-bottom: 25px !important;
    height: 95px;
}
.pt-3.py-2.mb-4 {
    margin-bottom: 30px !important;
}

h2.block-title {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    padding: 20px 0px !important;
}
h2#block-category-menu {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    padding: 20px 0px !important;
}
.region.region-footer-subscribe {
    padding-top: 30px;
}
.region-footer-subscribe .form-control.fh5co_footer_text_box.form-email.form-control{
    width: 100%;
    font-size: 13px;
}
.region-footer-subscribe #basic-addon12{
    width: 8%;
    height: 38px;
    bottom: 3px;
    position: relative;
    left: 0px;
}
.region-footer-subscribe .fh5co_footer_subcribe{
	width: 95%;
    position: relative;
    bottom: 3px;
    left: 0px;
    height: 38px;
    font-size: 17px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.region-footer-subscribe i.fa.fa-envelope {
    font-size: 18px;
}
#basic-addon1 {
    position: relative;
    bottom: 10px;
    display: none;
    width: 42px;
}
.region-footer-subscribe #edit-actions {
    position: relative;
    right: 10px;
}
.region-footer-subscribe i.fa.fa-paper-plane-o {
    font-size: 16px;
}
.fh5co_footer_right_reserved .py-4 {
    padding-top: 20px !important;
    padding-bottom: 35px !important;
}
/* .navbar{
	margin-bottom: 8px !important;
} */

.feed-icons {
    display: none;
}
.container-fluid.pb-4.pt-4 {
    margin-top: 15px;
}
.page-header {
    font-size: 24px;
    color: #222;
    border-bottom: 1px solid #777;
}

.fh5co_magna{
    display: block;
    margin-bottom: 5px;
}
.view-taxonomy-term  .fh5co_consectetur{
    margin-top: 20px;
}
.view-taxonomy-term .pb-4{
	    padding: 12px 0px;
}
h2#block-tags-2-menu {
    border-bottom: 1px solid #777;
    position: relative;
    bottom: 16px;
    padding-bottom: 10px;
}
.news-pagination {
    text-align: center;
    margin: 30px 0px 0px;
}
.region-trending-news {
    padding-top: 50px;
}

#fh5co-single-content p, #fh5co-single-content ul li {
    font-size: 16px;
}
#fh5co-single-content h3 {
    font-size: 28px;
}
.region-top-banner #fh5co-title-box{
    width: 100%;
}
.region-top-banner #fh5co-title-box .page-title{
	text-align: center;
}
.region-top-banner #fh5co-title-box .page-title h2{
	font-size: 60px;
}
.path-node .container-fluid.pb-4.pt-4 {
     margin-top: 0px; 
}
.fh5co_padd_mediya{
	z-index: 999;
}
.user-color a:nth-child(3), .user-color a:hover:nth-child(3) {
    color: #2b2d2e;
}
.statistics-counter {
    display: none !important;
}
.fh5co_con_123:hover, .fh5co_con_123:focus{
	background: none !important;
}
a.fh5co_con.pt-2 {
    color: #fff !important;
    cursor: default;
}

iframe {
    height: 350px;
}
.py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.region-footer-subscribe .form-control.fh5co_footer_text_box.form-email.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
}
.mb-5 {
    margin-bottom: 60px !important;
}
.mb-4 {
    margin-bottom: 2.5rem !important;
}
.pt-5 {
    padding-top: 6rem !important;
}
.pb-4 {
    padding-bottom: 2.5rem !important;
}
.col-xs-6 {
    width: 50% !important;
}
.dialog-off-canvas-main-canvas{
	overflow: hidden;
}
.most_fh5co_treding_font a {
    color: #222 !important;
}
section#block-views-block-top-banner-block-1 {
    position: relative;
}
.node__content{
    margin-top: 0px;
}
.alert svg{
    height: 20px;
}

@media (max-width: 991.98px) { 
    .navbar-toggler-right{
        position: unset;
        right: unset;
        display: flex;
        place-self: flex-end;
    
    }
    .fh5co_padd_mediya{
        padding-top: 0px;
    }
    .mt-3{
        margin-top: 0px !important;
    }
}
.owl-theme .owl-nav{
    margin-top: 0px;
}
#fh5co-title-box{
    position: relative;
}
.alert-dismissible .close {
    position: relative;
    left: 102rem;
}
.status-message{
    margin-left: 25px;
    padding: 5px 0;
}