<form class="row fh5co_contact_form">
    <div class="col-md-12 py-3">
        {{ element.elements.name }}
     </div>
    <div class="col-md-6 col-sm-6 col-xs-12 py-3">
       {{ element.elements.email }}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 py-3">
       {{ element.elements.subject }}
    </div>
    <div class="col-md-12 py-3">
       {{ element.elements.message }}    
    </div>
    <div class="col-md-12 py-3 text-center">
       {{ element.elements.actions }}
       {{ element.form_build_id }}
                    {{ element.form_token }}
                    {{ element.form_id }}
    </div>
</form>
