 <form {{ attributes }}>
    <div class="col-12 col-md-12 col-lg-12 ">
        <div class="input-group">
            <span class="input-group-addon fh5co_footer_text_box" style='margin: 14px 0px 14px 0px;' id="basic-addon1"><i class="fa fa-envelope"></i></span>
            {{ element.elements.email }}
            {# <input type="text" class="form-control fh5co_footer_text_box" placeholder="Enter your email..." aria-describedby="basic-addon1">
            #}

            <span class="input-group-addon fh5co_footer_subcribe" id="basic-addon12">
            <i class="fa fa-paper-plane-o"></i>
            </span>
                {{ element.elements.actions }}
                {{ element.form_build_id }}
                    {{ element.form_token }}
                    {{ element.form_id }}
        </div>
    </div>
 </form>