{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            {{ page.top_trending }}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                {{page.site_branding}}
            </div>
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                {% if linkedin %}
                <div class="text-center d-inline-block">
                    <a href="{{linkedin}}" target="_blank"  class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                </div>
                {% endif %} 
                {% if youtube %}
                <div class="text-center d-inline-block">
                    <a href="{{youtube}}" target="_blank"  class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-youtube-play"></i></div></a>
                </div>
                {% endif %}
                {% if twitter %}
                <div class="text-center d-inline-block">
                    <a href="{{twitter}}" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                </div>
                {% endif %}
                {% if facebook %}
                <div class="text-center d-inline-block">
                    <a href="{{facebook}}" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                </div>
                {% endif %}              
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            {{page.primary_menu}}
        </nav>
    </div>
</div>

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p>You are not authorized to access this page. You must login to view this page.</p>      
          <a href="{{front_page}}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 
 
<div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            <div class="col-12 spdp_right py-5">{{page.footer_logo}}</div>
            <div class="clearfix"></div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer_sub_about pb-3"> 
                {{ page.footer_about }}
                </div>
                <div class="footer_mediya_icon">

                    {% if linkedin %}
                    <div class="text-center d-inline-block"><a href="{{linkedin}}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                    </a></div>
                    {% endif %}
                   
                    {% if youtube %}
                    <div class="text-center d-inline-block"><a href="{{ youtube }}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-youtube-play"></i></div>
                    </a></div>
                    {% endif %}

                    {% if twitter %}
                    <div class="text-center d-inline-block"><a href="{{twitter}}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                    </a></div>
                    {% endif %}

                    {% if facebook %}
                    <div class="text-center d-inline-block"><a href="{{facebook}}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a></div>
                    {% endif %}

                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <ul class="footer_menu">
                   {{page.footer_category}}
                </ul>
            </div>
            <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                {{ page.footer_most_viewed_post }}
                <div class="footer_position_absolute"><img src="{{basepath}}/themes/yg_news/images/footer_sub_tipik.png" alt="img" class="width_footer_sub_img"/></div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ">
                 {{ page.footer_last_modified_post }}
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            {{ page.footer_subscribe }}
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 py-4 Reserved">{{page.copy_rights}}</div>
            <div class="col-12 col-md-6 spdp_right py-4">
               {{ page.copy_right_footer_menu }}
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>