<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            {{ page.top_trending }}
        </div>
    </div>
</div>
<div class="container-fluid header-res">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                {{page.site_branding}}
            </div>
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                {% if linkedin %}
                <div class="text-center d-inline-block">
                    <a href="{{linkedin}}" target="_blank"  class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                </div>
                {% endif %} 
                {% if youtube %}
                <div class="text-center d-inline-block">
                    <a href="{{youtube}}" target="_blank"  class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-youtube-play"></i></div></a>
                </div>
                {% endif %}
                {% if twitter %}
                <div class="text-center d-inline-block">
                    <a href="{{twitter}}" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                </div>
                {% endif %}
                {% if facebook %}
                <div class="text-center d-inline-block">
                    <a href="{{facebook}}" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                </div>
                {% endif %}              
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">        
            {{page.primary_menu}}
            </div>
        </nav>
    </div>
</div>

<div id="feature" class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 paddding feature-news animate-box" data-animate-effect="fadeIn">
            {{page.feature_section_1 }}
        </div>    
        <div class="col-md-6 feature-right">
            {{page.feature_section_2 }}
        </div>     
    </div>
</div>    

{{ page.news_section }}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                {{page.business_news}}
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                {{page.sidebar_second }}
                </div>
            </div>   
        </div>
    </div>
</div>            

<div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            <div class="col-12 spdp_right py-5">{{page.footer_logo}}</div>
            <div class="clearfix"></div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer_sub_about pb-3"> 
                {{ page.footer_about }}
                </div>
                <div class="footer_mediya_icon">

                    {% if linkedin %}
                    <div class="text-center d-inline-block"><a href="{{linkedin}}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                    </a></div>
                    {% endif %} 

                    {% if youtube %}
                    <div class="text-center d-inline-block"><a href="{{ youtube }}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-youtube-play"></i></div>
                    </a></div>
                    {% endif %}

                    {% if twitter %}
                    <div class="text-center d-inline-block"><a href="{{twitter}}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                    </a></div>
                    {% endif %}

                    {% if facebook %}
                    <div class="text-center d-inline-block"><a href="{{facebook}}" target="_blank" class="fh5co_display_table_footer">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <ul class="footer_menu">
                   {{page.footer_category}}
                </ul>
            </div>
            <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                {{ page.footer_most_viewed_post }}
                <div class="footer_position_absolute"><img src="{{basepath}}/themes/yg_news/images/footer_sub_tipik.png" alt="img" class="width_footer_sub_img"/></div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ">
                 {{ page.footer_last_modified_post }}
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            {{ page.footer_subscribe }}
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 py-4 Reserved">{{page.copy_rights}}</div>
            <div class="col-12 col-md-6 spdp_right py-4">
               {{ page.copy_right_footer_menu }}
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>